{% extends "base.html" %}

{% block page_content %}
{% if projects|length > 0 %}
<div class="jumbotron jumbotron-fluid" style="background-image:url(../static/img/{{projects[-1].picture_name}})">
	<div class="container">
		<h1 class="display-3">{{projects[-1].name}}</h1>
		<!--p class="lead">Insert description of the best project</p-->
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">View Project</a>
    </p>
	</div>
</div>
{% endif %}
<div class="container">
  <h3>Recent Updates</h3>
  <div class="row">
    {% for v in videos %}
    <div class="col-md-3 card">
      <video class="card-img-top" src="/../static/vid/{{v.vid_name}}"></video>
      <div class="card-body">
        <a href="{{url_for('video', video_title=v.title)}}">
          <h4 class="card-title">{{v.title}}</h4>
        </a>
        <p class="card-text card-italic">{{v.description}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container">
  <h3>Popular Projects</h3>
  <div class="row">
    {% for project in projects %}
    <div class="col-md-3 card">
      <img class="card-img-top" src="/../static/img/{{project.picture_name}}" alt="Card image cap">
      <div class="card-body">
        <a href="{{url_for('project', project_name=project.name)}}">
          <h4 class="card-title">{{project.name}}</h4>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
