{% extends "base.html" %}
{% block page_content %}
<div class="container project-container">
  <div class="row">
    <div class="col-md-4 card">
      <img class="card-img-top" src="/../static/img/{{project.picture_name}}" alt="Card image cap">
    </div>
    <div class="col-md-8">
      <h2>{{project.name}}</h2>
      <p><small class="text-muted">Created by {{project.author_project.username}}</small></p>
      <p>{{project.project_description}}</p>
    </div>
  </div>
</div>
<div class="container">
  <h2>Clips</h2>
  {% for video in project.video_list %}
  <div class="row">
    <div class="col-md-4 card">
      <video class="card-img-top" src="/../static/vid/{{video.vid_name}}" controls controlsList="nodownload"></video>
    </div>
    <div class="col-md-8">
      <a href="{{url_for('video', video_title=video.title)}}">
        <h3>{{video.title}}</h3>
      </a>
      <p><small>Uploaded on {{video.date.strftime('%B %d, %Y')}}</small></p>
      <p>{{video.description}}</p>
    </div>
  </div>
  {% endfor %}

{% endblock %}
