{% extends "base.html" %}

{% block page_content %}
<div class="row">
	<div class="col-lg-6">
		<form name="uploadForm" id="uploadForm" method="POST" action="{{ url_for('uploadvideo')}}" enctype="multipart/form-data" novalidate>
			<div class="form-group">
				<label for="exampleFormControlInput1">Title</label>
				<input type="text" class="form-control" name="title" id="title" placeholder="Video Title">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Description</label>
				<textarea class="form-control" name="description" id="description" rows="3" placeholder="Video Description"></textarea>
			</div>
			<select name="projects">
	          <option value="project1">project1</option>
	          {% for project in projects %}
	          <option value= "{{project.name}}">{{project.name}}</option>
	          {% endfor %}        
	        </select>
			<div class="form-group">
				<label for="file">Upload Video</label>
				<input class="upload" type="file" name="file" accept="video/mp4,video/x-m4v,video/*">
			</div>
			<div class="form-group">
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Upload</button>
      </div>
		</form>
  </div>
</div>
{% endblock %}
