{% extends "base.html" %}

{% block page_content %}
<div class="jumbotron jumbotron-fluid">
  {% if projects|length > 0 %}
<!--div class="jumbotron jumbotron-fluid" style="background-image:url(../static/img/{{projects[0].picture_name}})"-->
  <div class="container">
    <h1 class="display-3">{{projects[0].name}}</h1>
    <!--p class="lead">Insert description of the best project</p-->
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{url_for('project', project_name=projects[0].name)}}" role="button">View Project</a>
    </p>
  </div>
  {% endif %}
</div>
<div class="container recent-updates-container thumbnail-container">
  <h3>Recent Updates</h3>
  <div class="row recent-updates-row">
    {% for v in videos %}
    <div class="col-md-3 card">
      <video class="card-img-top video-thumbnail" src="/../static/vid/{{v.vid_name}}#t=15"></video>
      <div class="card-body">
        <a href="{{url_for('video', video_title=v.title)}}">
          <h4 class="card-title">{{v.title}}</h4>
        </a>
        <!--p class="card-text card-italic text-truncate">{{v.description}}</p-->
        <a href="{{url_for('project',project_name=v.project.name)}}">
          <p class='card-text card-italic text-truncate'>{{v.project.name}}</p>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container popular-project-container">
  <h3>Popular Projects</h3>
  <div class="row popular-projects-row">
    {% for project in projects %}
    <div class="col-md-3 card">
      <img class="card-img-top" src="/../static/img/{{project.picture_name}}" alt="Card image cap">
      <div class="card-body">
        <a href="{{url_for('project', project_name=project.name)}}">
          <h4 class="card-title">{{project.name}}</h4>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
