{% extends "base.html" %}
{% block page_content %}
<div class="container video-container">
  <div class="row video-row">
    <!-- VIDEO -->
    <div class="col-lg-9 card video-size">
      <video class="main-video card-img-top" src="/../static/vid/{{video.vid_name}}" controls controlsList="nodownload"></video>
      <div class="card-body">
        <h4 class="card-title video-title">{{video.title}}</h4>
        <p class="card-text"><small class="text-muted">Uploaded by {{video.author_video.username}} on {{video.date.strftime('%B %d, %Y')}}</small></p>
        <p class="card-text">{{video.description}}</p>
      </div>
    </div>
    <div id="hidden-username" style="display: none">{{video.author_video.username}}</div>
    <!-- CHAT -->
    <div class="col-lg-3 card chat-container">
      <div class="panel panel-primary">
        <!-- CHAT HEADING -->
        <div class="panel-heading" id="accordion">
          <h4 class="chat-h4">Chat</h4>
          <div class="btn-group pull-right">
            <a class="btn btn-default btn-xs chat-button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <i class="fa fa-chevron-down"></i>
            </a>
          </div>
        </div>
        <!-- CHAT COLLAPSE -->
        <div class="panel-collapse collapse" id="collapseOne">
          <div class="panel-body">
            <!-- COMMENTS - MUST ADD FOR STATEMENT -->
            <div class="chat" id="display_info">
              {% for comment in video.comment_list|sort(attribute='time') %}
              <div class="chat-comment">
                <p class="chat-timestamp">{{comment.time}}</p>
                <p class="chat-name">{{comment.author_comment.username}}</p>
                <p class="chat-description">{{comment.content}}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- SEND -->
          <div class="panel-footer">
            <div class="input-group">
              <!-- working but refreshing pages -->
              <!-- <form class="comment-send-form" action="{{url_for('addcomment')}}" method="post">
                <input id="btn-input" name='btn-input' type="text" class="form-control input-sm comment-send-input" placeholder="What do you think?">
                <input type="text" name="videoid" id="videoid" value="{{video.id}}" style="display:none;">
                <input type="text" name="videoname" id="videoname" value="{{video.title}}" style="display:none;">
                <input type="text" name="timestamp" id="timestamp" value="00:00:00" style="display:none;">
                <button type="submit" class="btn btn-warning btn-sm chat-submit" id="btn-chat">Send</button>
              </form>
              <script type="text/javascript">
                function secondsToHms(d) {
                  d = Number(d);

                  var h = Math.floor(d / 3600);
                  var m = Math.floor(d % 3600 / 60);
                  var s = Math.floor(d % 3600 % 60);

                  return ('0' + h).slice(-2) + ":" + ('0' + m).slice(-2) + ":" + ('0' + s).slice(-2);
                }
                $('.comment-send-input').focus(function () {
                  var vidTime = $('.main-video')[0].currentTime;
                  var vidTimeStr = secondsToHms(vidTime);
                  $('#timestamp').val(vidTimeStr)
                  console.log(vidTimeStr);
                });
              </script> -->
              <!-- test for ajax -->

              <form id="commentForm" class="comment-send-form" >
                <input id="btn-input" name='btn-input' type="text" class="form-control input-sm comment-send-input" placeholder="What do you think?">
                <input type="text" name="videoid" id="videoid" value="{{video.id}}" style="display:none;">
                <input type="text" name="videoname" id="videoname" value="{{video.title}}" style="display:none;">
                <input type="text" name="timestamp" id="timestamp" value="00:00:00" style="display:none;">
                <button type="button" class="btn btn-warning btn-sm chat-submit" id="btn-chat">Send</button>
                <script type="text/javascript">
                  function secondsToHms(d) {
                    d = Number(d);

                    var h = Math.floor(d / 3600);
                    var m = Math.floor(d % 3600 / 60);
                    var s = Math.floor(d % 3600 % 60);

                    return ('0' + h).slice(-2) + ":" + ('0' + m).slice(-2) + ":" + ('0' + s).slice(-2);
                  }
                  $('.comment-send-input').focus(function () {
                    var vidTime = $('.main-video')[0].currentTime;
                    var vidTimeStr = secondsToHms(vidTime);
                    $('#timestamp').val(vidTimeStr)
                  });
                </script>
                <script>
                   $("#commentForm").submit(false);
                  $("#btn-chat").click(function(e){
                    var name = $('#videoname').val();
                      var videoid = $('#videoid').val();
                      var content = $('#btn-input').val();
                      var time = $('#timestamp').val();

                      $.ajax({
                        url: "/api/addcomment",
                        type: "post",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify({
                          videoname: name,
                          videoid: videoid,
                          comment: content,
                          timestamp: time
                        }),
                        success: function(response) {
                          var username = $("#hidden-username").html();
                          var doms = $(".chat-comment");
                          var domList = Array.from(doms);
                          var pre;
                          var inserted = false;
                          var html = `<div class="chat-comment">
                              <p class="chat-timestamp">${time}</p>
                              <p class="chat-name">${username} <i style="font-size:0.7em; color:rgb(200,200,200);">[New Comment]</i></p>
                              <p class="chat-description">${content}</p>
                            </div>`
                          if (domList.length == 0) {
                            $("#display_info").append(html);
                          } else{
                            domList.forEach(function(item,index){
                            var t = $(item).find('.chat-timestamp');
                            console.log(t.html());
                              if (t.html() > time && !inserted) {
                                pre.after(html);
                                pre[0].scrollIntoView({block: "center", inline: "nearest"});
                                inserted = true;
                              } else {
                                pre = $(item);
                              }

                            })
                            if (!inserted){
                              pre.after(html);
                              pre[0].scrollIntoView({block: "center", inline: "nearest"});
                              inserted = true;
                            }
                          }
                          $('#btn-input').val("");
                        },
                        error: function(xhr) {
                          alert("comment can not be null");
                        }
                      });
                  })
                </script>
              </form>
              <!-- test for php -->
              <!-- <form class="comment-send-form">
                <input id="btn-input" name='btn-input' type="text" class="form-control input-sm comment-send-input" placeholder="What do you think?">
                <input type="text" name="videoid" id="videoid" value="{{video.id}}" style="display:none;">
                <input type="text" name="userid" id="userid" value="{{userid}}" style="display:none;">
                <button class="btn btn-warning btn-sm chat-submit" id="btn-chat" onclick="refreshdata()">Send</button>
                <script type="text/javascript">
                  function refreshdata(){
                    var comment_ = $('#btn-input');
                    var videoid_ = $('#videoid');
                    var userid_ = $('#userid');
                    $.ajax({
                    type: 'post',
                    url: 'loaddata.php',
                    data: {
                     comment:comment_,
                     videoid:videoid_,
                     userid:userid_,
                    },
                    success: function (response) {
                     $( '#display_info' ).html(response);
                    }});
                  }

                </script>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- OTHER CLIPS -->
<div class="container other-clips">
  <h3>Other Clips</h3>
  <div class="row">
    {% for v in videos %}
    <div class="col-md-3 card">
      <video class="card-img-top" src="/../static/vid/{{v.vid_name}}#t=15"></video>
      <div class="card-body">
        <a href="{{url_for('video', video_title=v.title)}}">
          <h4 class="card-title">{{v.title}}</h4>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
