/* Global Styles */
h1,h2,h3,h4,h5,h6,p{
	font-family:'Raleway', sans-serif;
}
h1{
	font-weight:900;
	text-transform:uppercase;
	color:#6B818C !important;
	text-decoration-color:#6B818C !important;
}
h2,h3{
	font-weight:700;
	text-transform:uppercase;
	color:#6B818C !important;
	text-decoration-color:#6B818C !important;
}
h4,h5,h6{
	font-weight:500;
	color:#323536 !important;
	text-decoration-color:#323536 !important;
}
p{
	font-weight:300;
	color:#84828F !important;
	text-decoration-color:#84828F !important;
}
a{
	text-decoration-color:inherit !important;
}
input,textarea{
	font-weight:300;
	color:#84828F !important;
}
.page-title{
	margin-top:2rem;
	margin-left:2rem;
}

/* Navigation */
.navbar-brand{
	font-family:'Lobster Two', cursive;
	font-weight:700;
	font-size:2rem;
	color:#6B818C !important;
	margin-left: 1vw;
}
.search-form{
	justify-content:space-between;
	margin-left: auto;
	margin-right: auto;
}
.search-box{
	width:30vw !important;
}
.search-form button{
	border-color:#6B818C !important;
	color:#6B818C !important;
}
.search-form button:hover{
	background-color: #6B818C !important;
	color:#FFFFFF !important;
}
.navbar-nav{
	margin-left: auto;
	margin-right:1vw !important;
	justify-content: flex-end;
}
.nav-item{
	margin-right:2vw;
}
.nav-item a:hover{
	color:#6B818C !important;
}

/* Landing Page */
.jumbotron{
	height:55vh;
	background-image:url("../img/projectbg.jpg");
	background-size:cover;
}
.jumbotron .container h1{
	color:#FFFFFF !important;
}
.jumbotron .container p{
	color:#FFFFFF !important;
}
.jumbotron .container p a{
	background-color: #FFFFFF !important;
	color: #6B818C !important;
	border:#6B818C !important;
}
.jumbotron .container p a:hover{
	background-color: #6B818C !important;
	color: #FFFFFF !important;
}
.container{
	margin-top:2rem;
	margin-bottom:2rem;
	margin-left:4rem;
	margin-right:4rem;
}
.recent-updates-row{
	margin-top:1rem;
}
.popular-projects-row{
	margin-top:1rem;
}
.card{
	border:none;
}
.card-body{
	padding-left:0;
}
.card-title:hover{
	text-decoration:underline;
}
.card-text{
	color:#84828F !important;
}
.card-italic{
	font-style:italic;
}

/* Login */
.checkbox label{
	font-size:1rem;
	font-weight:300;
	color:#84828F !important;
	text-transform: none;
	margin-top:-1rem;
}
input[value="Log In"]{
	background-color: #6B818C !important;
	color: #FFFFFF !important;
	cursor:pointer;
	margin-top:1rem;
}
.new-user{
	margin-top:1rem;
	margin-left:2rem;
}
.new-user a{
	font-style:italic;
	text-decoration:underline;
	color:#6B818C !important;
}

/* Register */
input[value="Register"]{
	background-color: #6B818C !important;
	color: #FFFFFF !important;
	cursor:pointer;
	margin-top:1rem;
}

/* Upload & Create Project Forms */
form{
	margin-top:2rem;
	margin-left:2rem;
}
label{
	font-family:'Raleway', sans-serif;
	font-size: 1.5rem;
	font-weight:500;
	text-transform:uppercase;
	color:#6B818C !important;
	margin-bottom:0.5rem;
}
input::placeholder, textarea::placeholder{
	font-family:'Raleway', sans-serif;
	font-weight:200;
	font-style: italic;
	color:#84828F !important;
}
.form-group{
	margin-bottom:2rem;
}
.form-group select{
	display:block;
	font-family:'Raleway', sans-serif;
	font-weight:200;
	font-size:1rem;
}
.upload{
	display:block;
	font-family:'Raleway', sans-serif;
	font-weight:200;
	color:#84828F !important;
}
.upload-button{
	background-color: #6B818C !important;
	color: #FFFFFF !important;
	cursor:pointer;
	border:none;
	outline:0;
}
.upload-button:active, .upload-button:focus, .upload-button:hover, .upload-button:visited, .upload-button:after, .upload-button:before {
	border:none;
	outline:0;
}

/* Project Page */
.proj-main-heading{
	margin-bottom:0.1rem;
}
.project-container{
	margin-left:5vw;
}
.clips-container{
	margin-left:5vw;
}
.proj-clips-heading{
	margin-top:4rem;
	margin-bottom:0;
}
.clips-row{
	margin-top:2rem;
}
.proj-clips-title{
	margin-bottom:0.1rem;
}

/* Video Page */
.video-container{
	max-width:90vw;
	margin:2rem 5vw;
	padding:0;
}
.video-size{
	max-width:60vw;
}
.video-title{
	font-size:1.75rem;
	text-transform:uppercase;
	margin-bottom:0.1rem;
}
.text-muted{
	font-style: italic;
}
.other-clips{
	margin-left:4vw;
}

/* Video Chat */
.chat-container{
	min-width:30vw;
	padding:0;
}
.panel{
	background-color:#6B818C !important;
}
.panel-heading{
	padding:0.5rem;
	border-bottom:0.1rem #FFFFFF solid;
}
.chat-h4{
	display:inline-block;
	font-family:'Raleway', sans-serif;
	font-weight:300;
	text-transform:uppercase;
	color:#FFFFFF !important;
	margin-bottom:0;
}
.chat-button{
	padding:0;
}
.fa-chevron-down{
	color:#FFFFFF !important;
	padding:0;
	background-color: transparent;
}
.panel-collapse{
	height:50vh;
}
.panel-body{
	height:50vh;
	overflow-y: scroll;
}
.chat-comment{
	padding:0.5rem;
}
.chat-timestamp{
	display:inline-block;
	font-family:'Raleway', sans-serif;
	font-weight:100;
	color:#FFFFFF !important;
	margin-bottom:0;
}
.chat-name{
	display:inline-block;
	font-family:'Raleway', sans-serif;
	font-size:1.1rem;
	font-weight:100;
	text-transform:uppercase;
	color:#FFFFFF !important;
	margin-bottom:0;
	padding-left:0.5rem;
}
.chat-description{
	font-family:'Raleway', sans-serif;
	font-weight:100;
	font-style:italic;
	color:#FFFFFF !important;
	margin-left: 5rem;
}
.panel-footer{
	border-top: 0.25rem #FFFFFF solid;
}

.comment-send-form{
	margin:0;
}
.comment-send-input{
	display:inline !important;
	margin:0 !important;
	width:24vw !important;
	background-color:#FFFFFF !important;
	border-radius:4px !important;
}
.comment-send-input::placeholder{
	font-family:'Raleway', sans-serif;
	font-weight:100;
	font-style: italic;
	color:#6B818C !important;
}
.chat-submit{
	display:inline !important;
	width:5vw !important;
	padding-bottom: 6px;
	padding-top: 6px;
	margin:0;
	font-family:'Raleway', sans-serif;
	font-weight:100;
	font-size:1rem;
	text-transform:uppercase;
	color:#FFFFFF !important;
	background-color:#6B818C !important;
	border:none;
	cursor: pointer;
}




